html {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}

body {
  max-width: 800px;
  margin: 0 auto 0 auto;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
}

h1, h2 {
  margin: 1em 0 1em 0;
}

h2.links {
  margin: 1.5em 0 0.25em 0;
}

h2.index {
  margin: 0.25em 0 0.25em 0;
}

h4 {
  line-height: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0 1em 0;
}

iframe {
  padding: 1em 0 1em 0;
}

p {
  text-align: justify;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: gray;
}

a.back {
  text-decoration: none;
}

ul.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.social-media-list li {
  display: inline-block;
  margin: 0.5em;
}

ul.social-media-list img {
  width: 28px;
  height: 28px;
}

.post { 
  margin-top: 0.6em;
}

.post-date {
  padding-right: 0.6em;
  font-family: 'Roboto',sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: #beb8ba;
  white-space: nowrap;
}

.post-title {
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.post-title a {
  text-decoration: none;
}

.devlog-title {
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.8rem;
}

.devlog-title a {
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  body {
    margin: 0 2em 0 2em;
  }
}
