html {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}

body {
  max-width: 800px;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

p {
  margin-bottom: 1.25em;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
}

h1, h2 {
  margin: 1em 0 1em 0;
}

h1 {
  text-align: center;
}

h2.links {
  margin: 1.5em 0 0.25em 0;
}

h2.index {
  margin: 0.25em 0 0.25em 0;
}

h4 {
  line-height: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0 1em 0;
}

iframe {
  padding: 1em 0 1em 0;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: gray;
}

a.back {
  text-decoration: none;
}

ul.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.social-media-list li {
  display: inline-block;
  margin: 0.5em;
}

ul.social-media-list li:before {
  content: none;
}

ul.social-media-list img {
  width: 28px;
  height: 28px;
}

.post { 
  margin-top: 0.6em;
}

.post-date {
  padding-right: 0.6em;
  font-family: 'Roboto',sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: #beb8ba;
  white-space: nowrap;
}

.post-title {
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.post-title a {
  text-decoration: none;
}

.devlog-title {
  font-family: 'Roboto',sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.8rem;
}

.devlog-title a {
  text-decoration: none;
}

.next-prev-post {
  display: flex;
  justify-content: space-between;
}

.next-prev-post .post-post-container {
  width: 50%;
}

.next-prev-post .post-post-container:first-child h1, .next-prev-post .post-post-container:first-child p {
  text-align: left;
}

.next-prev-post .post-post-container:last-child h1, .next-prev-post .post-post-container:last-child p {
  text-align: right;
}

.next-prev-post .post-post-container a {
  position: relative;
  top: 0;
  transition: all 0.1s ease-in
}

.next-prev-post p {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 0;
}

.next-prev-post p:hover {
  color: gray;
}

.next-prev-post a {
  display: block;
  color: black;
  font-weight: 600;
  border-bottom: none;
  padding: 0;
  text-decoration: none;
}

.next-prev-post a:hover {
  background: none;
  text-decoration: none;
}

div.back-to-home {
  margin: 0 auto;
  width: 100%;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

div.back-to-home a {
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  body {
    margin: 0 2em 0 2em;
  }
}
